.container {
  padding: 1rem;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  height: auto;
  width: 10cm;
  border: groove;
  top: 2cm;
  position: relative;
}

.align__center {
  display: flex;
  justify-content: center;
}

.text__center {
  text-align: center;
}

.text__center__error {
  text-align: center;
  color: red;
}

.nav__link {
  color: white
}

.nav__link:hover {
  color: red
}

.active {
  color: red
}

.active:hover {
  color: red;
}

.spinner__size {
  margin: 3cm;
  height: 2.5cm;
  width: 2.5cm;
  color: red;
}

html,
body,
body>div,
.backGround {
  background-color: #333333;
  height: 100%;
}

.bigger__container {
  padding: 1rem;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  height: auto;
  width: auto;
  border: groove;
  top: 2cm;
  position: relative;
}

.space__between {
  display: flex;
  justify-content: space-between;
}

.align__right {
  display: flex;
  justify-content: right;
  margin: 0.1cm;
}

.space__around {
  display: flex;
  justify-content: space-around;
}

.form__control {
  width: 15cm
}

.justify__center {
  display: flex;
  justify-content: center;
}



.little__marg {
  margin-right: 0.3cm;
}


.table__data {
  color: white;
}

.table__data:hover {
  color: red
}

.form__edit__control {
  width: 12.3cm;
  margin-bottom: 0.5cm;
}

.justify__form__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__small {
  width: 20%;

}